{% extends 'mainPage/base.html' %}
{% load static %}
{% block title %}Add Car{% endblock %}

{% block content %}
<form class="addForm" enctype="multipart/form-data" method="POST" action="{% url 'addCar' %}">
    {% csrf_token %}
    <div class="addForm__item">
        {{form.as_p}}
    </div>
    <div class="addForm__item">
        <button type="submit" class="btn  btn-warning add-customer">Add Car</button>
    </div>
    {% if messages %}
    <div class="addForm__item messages">
        {% for message in messages %}
        <p>
            {{ message }}
        </p>
        {% endfor %}
    </dvi>
    {% endif %}
</form>
{% endblock %}

{% block footer %}
{% endblock %}