{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% block title %}{% endblock %}</title>
    
    <!-- css -->
    <link rel='stylesheet' type='text/css' href='{% static "mainPage/css/header.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "mainPage/css/main.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "mainPage/css/addForm.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "logIn/css/logIn.css" %}'>
    <link rel='stylesheet' type='text/css' href='{% static "customer_profile/css/profile.css" %}'>    
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Chilanka|Dancing+Script|Pacifico&display=swap" rel="stylesheet">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    {% block header %} 
    <header class="header">
        <section class="header__item">
            <div class="logo">
                <span class="chilankaFont"><a href="{% url 'mainPage' %}">intetics Auto Service :)</a></span>
            </div>
        </section>
        <section class="header__item">
            <div class="right">
                <span class="chilankaFont">Admin</span>
                <!-- <span class="chilankaFont"><span class="star">★</span> Admin <span class="star">★</span></span> -->
                <div class="logout"><a class="logOutLink" href="{% url 'logout' %}"><span class="chilankaFont chilankaFontSmall">LogOut</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg></a></div>
            </div>
        </section>
    </header>
    {% endblock %}
    <!-- ---------------------------------- -->
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
    <!-- ---------------------------------- -->
    {% block footer %}
    <footer class="footer">
        FOOTER
    </footer>
    {% endblock %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'mainPage/js/tableSearch.js' %}"></script>
  
</body>
</html>