{% extends 'mainPage/base.html' %}

{% block title %}LogIn{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-left">
        <div class="login-left__item">
            <h2 class="chilankaFont">intetics Auto Service</h2>
            <h1 class="chilankaFont">Welcom Back!</h1>
            <span class="chilankaFont">Sign In to admin account and start working, but remember:</span><br>
            <span class="text-muted">Tut dolshni bit 3 zapovidi adminov</span>
        </div>
    </div>
    <div class="login-card">
        <div class="login-card__item">
            <span class="log-in">Sign In</span>
        </div>
        <div class="login-card__item">
            <form class="form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group__icon">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg></span>
                    </div>
                    <!-- <input type="text" class="input" placeholder="Login"> -->
                    {{form.username}}
                </div>
                <div class="input-group">
                    <div class="input-group__icon">
                        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg></span>
                    </div>
                    <!-- <input type="password" class="input" placeholder="Password"> -->
                    {{form.password}}
                </div>
                <button type="submit" class="subButton">Sign In</button>
                {% if form.errors %}
                    <span style="color:red;">Invalid Login or password!</span>
                {% endif %}
            </form>
        </div>
        <div class="login-card__item">
            <span class="text-muted">Forgot password? <a href="#">Reset</a></span>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}